@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar Clientes</h2>
        <p>
            Área destinada a criação, edição e exclusão de <b>clientes.</b>
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Clientes", "Index", "Clientes")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastrar Produtos</h2>
        <p>Área destinada a criação, edição e exclusão de <b>produtos</b>.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Produtos", "Index", "Produtos")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cadastrar Pedidos</h2>
        <p>Área destinada a realização, edição e exclusão de <b>pedidos</b>.</p>
        <p><a class="btn btn-default" @Html.ActionLink("Pedidos", "Index", "Pedidos")</a></p>
    </div>
</div>